a {
    color: #141616 !important;
    font-weight: bold;
    font-size: 18px;
}



.btn {
    background-color: #219E6B !important;
    color: #F5F5F5 !important;
    border-color: #219E6B !important;
}