<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur votre compte</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>
<body>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-xl-between py-3 mb-4 border-bottom">
    <div class="col-xl-3 mb-2 mb-md-0">
        <a href="http://localhost:4200/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="logo" src="/logo_mercadona.jpg" alt="logo_mercadona" title="logo de l'entreprise" width="350" height="100">
        </a>
    </div>
    <nav class="navbar col-12 col-xl-auto mb-2 justify-content-center mb-md-0">
        <div class="menu">
            <ul class="nav">
                <li><a href="http://localhost:4200/" class="nav-link px-2" style ="color:#141616; font-size:18px;">Revenir sur le site</a></li>
                <li><a href="http://localhost:4200/produits" class="nav-link px-2"style ="color:#141616;font-size:18px;">Visualiser les produits</a></li>
            </ul>
        </div>
    </nav>
    <div class="col-xl-3 ">
        <a href="http://localhost:4200" class="btn btn-outline me-2" title="Se déconnecter" ><i class="bi bi-door-open-fill"style="font-size: 24px;"></i></a>
    </div>
</header>


<div class="container-fluid text-center">
    <img src="/votre-espace.jpg" style = "width:100%" alt="header_intranet" title="header de l'intranet">
    <br>
    <br>
    <br>
    <h1> Bienvenue sur votre compte</h1>
    <h6>Vous êtes sur la page de gestion des produits. Ici, vous pouvez mettre à jour, ajouter ou supprimer des produits pour maintenir notre catalogue à jour et répondre aux besoins de nos clients.</h6>
    <br>
    <div class="m-2">
        <a class="bt3 btn btn-success" th:href="@{/produits/nouveau}">Ajouter un nouveau produit</a>
    </div>
    <br>
    <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>

    <div>
        <table class="table table-success table-striped" >
            <thead>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Date d'expiration</th>
            <th>Prix</th>
            <th>Promotion en %</th>
            <th>Prix remisé</th>
            <th>Photo</th>
            <th></th>
            </thead>
            <tbody>

                <th:block th:each="products : ${viewModels.listProducts}">


                <tr>
                    <td>[[${products.id}]]</td>
                    <td>[[${products.nom}]]</td>
                    <td>[[${products.description}]]</td>
                    <td>[[${products.categories.name}]]</td>
                    <td>[[${products.expirationDate}]]</td>
                    <td th:text="${products.prix + ' €'}"></td>
                    <td>[[${products.promotion}]]</td>
                    <td th:text="${products.prix} - ${products.prix} * ${products.promotion} / 100 + ' €'"></td>
                    <td>
                        <img th:if="${products.id != null}" th:src="@{'/produits/image/' + ${products.image}}" alt="Image du produit" width="100" height="100" />
                    </td>







                    <td>
                        <a class="h4 mr-3" th:href="@{'/produits/edit/' + ${products.id}}"><i class="bi bi-pencil"></i></a>
                        <a class="h4 mr-3" th:href="@{'/produits/edit/' + ${products.id}}"><i class="bi bi-percent"></i></a>
                        <a class="h4 mr-3" th:href="@{'/produits/delete/' + ${products.id}}"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">© 2023 Mercadona</p>


                <a href="http://localhost:4200/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img class="bi me-2" width="150" height="50" src="/logo_mercadona.jpg" alt="logo_mercadona" title="logo de l'entreprise">
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="http://localhost:4200/">Page d'accueil</a></li>
                </ul>
            </footer>
        </div>

        </body>


</html>


<script>
    let inactivityTimeout;

    function resetInactivityTimeout() {
        clearTimeout(inactivityTimeout);
        inactivityTimeout = setTimeout(function(){
            window.location.href = 'http://localhost:4200/';
        }, 300000); // Redirige vers http://localhost:4200/ après 30 secondes d'inactivité
    }

    document.addEventListener('mousemove', resetInactivityTimeout);

    // Démarre le timeout d'inactivité au chargement de la page
    document.addEventListener('DOMContentLoaded', resetInactivityTimeout);
</script>

