<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="styles.scss">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container mt-4">
    <div class="container mt-4">
        <h1 class="mb-3">Tous les produits</h1>
        <div class="row">
            <div th:each="product : ${products}" class="col-md-4 mb-4">
                <div class="card">
                    <img th:src="@{/images/__${product.photoUrl}__}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.nom}"></h5>
                        <p class="card-text" th:text="${product.description}"></p>
                        <p class="card-text"><strong>Prix :</strong> <span th:text="${product.prix}"></span></p>
                    </div>

                </div>
            </div>
        </div>


        <div th:each="produitPromo : ${produitPromos}" class="col-md-4 mb-4">
            <div class="card">
                <img th:src="@{/images/__${produitPromo.photoUrl}__}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${produitPromo.nom}"></h5>
                    <p class="card-text" th:text="${produitPromo.description}"></p>
                    <p class="card-text"><strong>Prix:</strong> <span th:text="${produitPromo.prix}"></span></p>
                    <p class="card-text"><strong class="text-success">Promotion:</strong> <span th:text="${produitPromo.promo}"></span></p>
                    <p class="card-text"><strong>Date limite:</strong> <span th:text="${produitPromo.expirationDate}"></span></p>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>