<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
      <title>S'enregistrer</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/templates/style.css">
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="register_page.css">
</head>
  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-xl-between py-3 mb-4 border-bottom">
      <div class="col-xl-3 mb-2 mb-md-0">
        <a href="http://localhost:4200/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img class="logo" src="/logo_mercadona.jpg" alt="logo_mercadona" title="logo de l'entreprise" width="350" height="100">
        </a>
          </div>
            <nav class="navbar col-12 col-xl-auto mb-2 justify-content-center mb-md-0">
              <div class="menu">
                <ul class="nav">
                  <li><a href="http://localhost:4200/" class="nav-link px-2" style ="color:#141616; font-size:18px;">Vos promotions</a></li>
                  <li><a href="http://localhost:4200/produits" class="nav-link px-2"style ="color:#141616;font-size:18px;">Catalogue</a></li>
                  <li><a href="http://localhost:4200/nous-connaître" class="nav-link px-2"style ="color:#141616;  font-size:18px;">Nous connaître</a></li>
                  <li><a href="http://localhost:4200/nous-contacter" class="nav-link px-2"style ="color:#141616; font-size:18px;">Nous contacter</a></li>
                </ul>
              </div>
            </nav>

            <div class="col-xl-3 ">
              <a href="/register" class="btn btn-outline me-2"style="color: #F5F5F5;background-color: #219E6B; border-color: #219E6B;" >Se connecter</a>
          </div>
    </header>


    <div class="se-connecter">
      <img src="/votre-espace.jpg" style = "width:100%" alt="header_mercadona"
           title="header de l'entreprise">
        <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
          <div class="modal-dialog" role="document">
            <h1>Espace Entreprise</h1>
            <div class="modal-content rounded-4 shadow">
              <div>
                <p class=" text-body-secondary">Cette page est uniquement dédiée aux salariés du service informatique de l'entreprise. Cette espace vous permettra d'intégrer/ supprimer des produits sur le catalogue.</p>
              </div>
                <div class="modal-header p-5 pb-4 border-bottom-0">
                  <h2 class="fw-bold mb-0 fs-2">S'enregistrer</h2>
                </div>
                  <div class="modal-body p-5 pt-0">
                    <form method="post" action="/register" th:object="${registerRequest}">

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" name="login" id="floatingInput" placeholder="Login" required>
                        <label for="floatingInput">Login</label>
                      </div>
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control rounded-3" name="email" id="floatingEmail" placeholder="Email" required>
                          <label for="floatingEmail">Email</label>
                        </div>
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" name ="password" id="floatingPassword" placeholder="Password"  required>
                            <label for="floatingPassword">Mot de passe</label>
                          </div>
                             <div class="input-box">
                               <input type="submit" name="sign-in" value="S'enregistrer" >
                             </div>
                                <a href="/login">Vous avez déjà votre ID et MDP : Se connecter</a>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">© 2023 Mercadona</p>
        <a href="http://localhost:4200/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img class="bi me-2" width="150" height="50" src="/logo_mercadona.jpg" alt="logo_mercadona" title="logo de l'entreprise">
        </a>
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="http://localhost:4200/mentions-legales">Mentions Légales</a></li>
          </ul>
    </footer>
  </div>
</body>
</html>